@page {
  size: A4;
}

@media print {
  html, body {
    margin-left: 5mm;
    margin-right: 5mm;
    margin-top: 10mm;
    margin-bottom: 37mm;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  h1, h2, h3 {
    font-family: Kelson Sans BG, Regular;
  }
  
  p {
      font-family: Helvetica, Arial, sans-serif;
  }
}
