@page {
  size: A4;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    margin-left: 19mm;
    margin-right: 13mm;
    margin-top: 19mm;
    margin-bottom: 37mm;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  h1, h2, h3 {
    font-family: Kelson Sans BG, Regular;
  }
  
  p, ol li, ul li {
    font-family: Lato, Regular;
  }
}
