@page {
  size: A4;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    margin-left: 19mm;
    margin-right: 13.2mm;
    margin-top: 19mm;
    margin-bottom: 36.7mm;
  }
  
  h1, h2, h3 {
    font: 'Kelson Sans BG, Regular';
  }
  
  p, ol li, ul li {
    font: 'Lato, Regular';
  }
}
